extends layout

block content
  h1= title
  p Welcome to #{title}
  h3 Mainline
  #visualization_main
  h3 17.40
  #visualization_17_40
  h3 kmd
  #visualization_kmd  
  
  h3 Options
  <input id='fit', type="button",  value="Fit all"><br>
  <input id='find', type="button", value="Search"><input id='find_val', type="text"><br>
  script(src='/javascripts/main.js')
