doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.js')
    script(src="https://code.jquery.com/jquery-1.10.2.js")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.css')
  body
    block content
